.movie-card {
  margin-bottom: 16px;
  background-color: orange;
  display: grid;
  width: 250px;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.movie-description {
  font-size: 16px;
  font-style: italic;
  color: darkviolet;
}

.movie-year {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.movie-director {
font-size: 12px;
  color: blue;
  font-weight: bold;
}
